
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
