.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #343a40;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.navbar-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--cor-primaria);
}

.navbar-logo-img { 
  height: 30px; 
  margin-right: 10px; 
}

.navbar-logo-text { 
  font-size: 1.2rem; 
  font-weight: bold; 
  color: var(--cor-branca); 
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-link, .navbar-cart-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.navbar-cart-link {
  font-weight: bold;
  color: #61dafb;
}

.navbar-link:hover, .navbar-cart-link:hover {
  text-decoration: underline;
}

.navbar-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}